
.img{
	background-image:url('images/bg_re.jpg');
	background-repeat: repeat-x;
	background-size: 176px;
	font-family: Zurich Cn BT Arial,Helvetica,sans-serif;
}
.logo{
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*.second{
	flex-wrap: wrap;
}*/
.social{
	/*margin-left: 50px;*/
	margin-top: 30px;
	color: #ffffff;
	float: right;
	margin-right: 10px;
}
.nav-l{
	color: #ffffff;
	margin-bottom: 20px;
	margin-top:0px;
}
.back{
	background-image: url("Capture.png");
	background-repeat: repeat-x;
}
.a1{
	color: #e6decf;
	font-size: 15px;
}
.mm{
	margin-top: 50px;
	box-shadow: 2px 2px 4px #000000;
}
.div5 {
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

.index1{
	color: #80663a;

}
p{
	color: #80663a;
	font-size: 12px;
}
label{
	color: #80663a;
}
.l{
	
	color: #994d00;
	font-size: 12px;

}
.footer1{
	background-image: url("images/foot.png");
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	background-size: cover;
	height: 65px;
}
a{
	color: #994d00;
	font-size: 12px;
}

.textcol{
	color: blue;
}

.x{
	color: #994d00; font-size: 12px;
	 margin-top: 13px;
	 margin-bottom: 30px;
}


.to{

	font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 2.05;
}

.f2{
position: relative;
}
.f22{
	text-align: center;

}

.head-div{
	margin-top: 10px;
}
.head-p{
	color: #804000;
	font-size: : 30px;

}
hr{
	border-color: #7f6942;
	margin-top: -2px;
}

.span1{
	font-size: 14px;
	color: #804000;
}

.mapouter{
	position:relative;
	text-align:right;
	height:500px;
	width:100%;}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:500px;
	width:100%;
}
.img1{
	width: 350px;
	height: 150px;
	box-shadow: 3px 3px 4px 0px rgba(224,218,215,1);
}
.input1{
	margin-left: 70px;
}

.active{
	border-bottom: 3px solid orange;
	
}
.aaa{
	background-color:black;
}

.label1{
	color: #7f6942;
}
.about-div{
	width: 250px;
	height: 25px;
	margin-top: 7px;
	background-image: linear-gradient(white,white,#f9f4eb);
}

h5{
	margin-left: 10px;
	color: #80663a;
}
.nav .b{
	background-color: red;
}
@media only screen and (max-width: 768px){
	.na{
		background-color: #80694d;
	}
	.social{
		display: none;
	}
}

q:lang(de) {
    quotes: "„" "“";
    height: 120px;
}



h3{
	color: #80663a;
}

blockquote {
    position: relative;
    margin: -1.5em;
    font-size: 12px;
    padding: 1.5em 1em 0.5em 3em;
    border-left: 0px;
}
blockquote:before {
    position: absolute;
    font-size: 4em;
    line-height: 1;
    top: 10px;
    left: 0;
    content: "\201C";
}
blockquote:after {
    float:right;
    font-size:4em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
}
.na .a1:hover {
  background-color:transparent;
  color: #ffffff;
}

.foot-font{
	font-family: Zurich Cn BT Arial,Helvetica,sans-serif;
}