
@font-face {
  font-family: 'ZurichW03-XBlk';
  src: url('ZurichW03-XBlk.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@media only screen and (max-width: 768px){
	.na{
		background-color: #80694d;
	}
	.social{
		display: none;
	}
}


hr
{
	border-color:#d4c6ae;
	margin-top: 3px;
}
.why-us{
	padding-left: 20px;
	margin-top: 10px;
}
ul .why-us li
{
	list-style: none;
	margin-left: 0;
	padding-left: 30px;
}
.why-us li{

	font-size: 14px;
	height: 25px;
	list-style-image: url(images/arrow.gif);
	vertical-align: baseline;
}
footer{
	background-image:url(images/foot_re.gif);
	background-repeat: repeat-x;
	background-position: left top;
	background-size: auto;
	background-attachment: scroll; 
}
.footer1{
	background-image: url("images/foot.png");
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	background-size: cover;
	height: 65px;
}
.f22{
	text-align: center;

}

footer ul li a{
	color: #6d6556;
	background-color:transparent;

}
.pp{
	font-weight: bold;
	font-size: 16px;
}
.newdeals-p{
	font-size: 16px;
}
.header-ul{
	float: right;
	 margin-right: 35px;
	 font-size: 15px;
}

.mm{
	margin-left: 0;
	margin-right: 0;
	box-shadow: 2px 2px 4px #000000;
}

.active, .na1 li a:hover{
	background-image: url('images/nav-hover.gif');
	background-repeat: no-repeat;
	background-position: center bottom; 
	
}

.na .a1:hover {
  background-color:transparent;
  color: #ffffff;
}

.foot{
	display: inline;
}

.foot li a:hover{
	background-color:transparent;
  color: #7f6942;
}
.about-div{
	margin-top: 7px;
    font-size: 14px;
    width:250px;
    line-height: 52px;
    background-image: url('images/side_menu_bg.gif');
    background-repeat: repeat-x;
    background-position: left center;
}
.about-div a{
	margin-left: 20px;
	color: #5f4a27;
}

.textcol{
	color: blue;
}
.current-figcap{
	text-align: center;
	font-weight: bold;
	margin-top: -17px;
	color: #80663a;
}
.completed-figcap{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	margin-top: -17px;
	color: #80663a;
}
.ip-size{
	width: 242px;
	box-shadow: none;
	border-radius: 0px;
}

.ip2-size{
	box-shadow: none;
	width:330.33px;
}
.ip3-size{
	background-image: url('images/submit.jpg');
	background-repeat: no-repeat;
	background-color: transparent;
	height: 33px;
    width: 124px;
    border: none;
    font-size: 0;
    margin-left: 0px;
}
.ip-size-que{
	width: 242px;
	box-shadow: none;
	margin-left: 100px;
}
.question1{

}
.about2-div{
	margin-top: 30px;
}

.cont2 {
   width: 1000px;
    margin-left: 71px;
    margin-right: 165px;
    padding-left: 0px;
    padding-right: 0px;
}

.about3-div {
    margin-left: 50px;
}
.border1{
	border: 11px solid #fff;
}
.carousel-indicators {
    text-align: right;
    float: right;
    top: 17px;
    margin-left: -120px;
	
}
h3{
	background-image: url('images/border.gif');
	background-repeat: repeat-x;
	background-position: center bottom;
	padding-bottom: 7px;
	padding-left: 14px;
	padding-right: 14px;
	font-size: 17px;
	color: #806638;
	font-family:'ZurichW03-XBlk'; 
}
.head-div{
	margin-top: 50px;
	margin-bottom: 50px;
}
